<h3 class="mat-h3">Reference</h3>

<div mat-dialog-content>
  <mat-form-field class="full-width" *ngFor="let column of  columns">
    <input matInput *ngIf="column.type !== 'TEXT'" placeholder="{{column.title}}" [(ngModel)]="reference[column.key]" autocomplete="off" />
    <textarea matInput *ngIf="column.type === 'TEXT'" placeholder="{{column.title}}" [(ngModel)]="reference[column.key]"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="save()">Save</button>
</div>
